.footer-main{
    position: inherit;
}
.img-list,.text-list{
    list-style: none  !important;
    text-align: justify !important;
    color: white;
    font-weight: '100' !important;
    text-decoration: none !important;
}
.location-col{
    justify-content: center !important;
}
