footer{
    position: inherit;
}
.img-list,.text-list{
    list-style: none  !important;
    text-align: justify !important;
    color: white;
    text-decoration: none !important;
}
.location-col{

    justify-content: center !important;
}