.industries-page-main{
    min-height: 800px;
    display: flex;
    position: relative;
    z-index: 1;  
    max-width: 100%;
    background:-moz-radial-gradient(ellipse at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(237, 33, 58, 1) 0%, rgba(147, 41, 30, 1) 95%, rgba(147, 41, 30, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(237, 33, 58, 1) 0%, rgba(147, 41, 30, 1) 95%, rgba(147, 41, 30, 1) 100%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(237, 33, 58, 1) 0%, rgba(147, 41, 30, 1) 95%, rgba(147, 41, 30, 1) 100%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(237, 33, 58, 1) 0%, rgba(147, 41, 30, 1) 95%, rgba(147, 41, 30, 1) 100%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(237, 33, 58, 1) 0%, rgba(147, 41, 30, 1) 95%, rgba(147, 41, 30, 1) 100%);
}
.industries-section-main{  height: 40vh;}

.industries-page-content h3{
    font-size: 50px !important;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.industries-page-content p{

    text-align: justify;
    font-weight: lighter !important;
    font-size: 20px !important;
    font-family: Arial, Helvetica, sans-serif;
}
.industries-page-logo{
    padding: 80px;
    border-radius: 10px;
}
@media only screen and (max-width: 1024px) {
    .industries-page-content h3{
        font-size: 30px !important;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .industries-page-logo{
        background-color: white;
        padding: 100px;
    }
    .industries-page-content p{
        text-align: justify;
        font-weight: lighter !important;
        font-size:18px !important;
        font-family: Arial, Helvetica, sans-serif;
    }
}
@media only screen and (max-width: 425px) {
    .industries-page-content h3{
        font-size: 30px !important;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .industries-page-logo{
        background-color: white;
        padding: 0px;
    }
    .industries-page-content p{
        text-align: justify;
        font-weight: lighter !important;
        font-size:18px !important;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.content-2-section {
    align-self: center !important;
    padding-top: 102px;
  background-color: #222 !important;
}
.industries-page-content-2 h3{
    font-size: 50px !important;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.industries-page-content-2 p{
    text-align: justify;
    font-weight: lighter !important;
    font-size: 20px !important;
    font-family: Arial, Helvetica, sans-serif;  
}

.industries-content-3 h3{
    font-size: 19.5px !important;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.details article{
    display: inline-block;
    width: 100%;
    text-align: justify;
}
.details img{
    display: inline-block;
    margin: 15px;
    vertical-align: top;
}
.details {
    align-self: center !important;
    justify-content: center !important;
    display: inline-block;
    margin-bottom: 20px;
}


@media only screen and (max-width: 786px) {
    .industries-section-main{height: 60vh;}

}
@media only screen and (max-width: 425px) {
    .industries-section-main{  height: 100vh;}
  
}

.content-4-section {
    align-self: center !important;
    padding-top: 102px;
    height: 60vh;
  background-color: #222 !important;
}
.industries-content-3 h1{
    text-align: center;
    font-size: 39.5px !important;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.industries-page-content-4 h1{
    text-align: center;
    font-size: 39.5px !important;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.industries-page-content-4 p{
    text-align: center;
    font-size: 18px;
}
.industries-page-content-4 article{
    margin-top: 20px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
    .content-4-section {
      min-height: 800px;
    }
    
}
@media only screen and (max-width: 786px) {
    .content-4-section {
      min-height: 800px;
    }
    
}
@media only screen and (max-width: 425px) {
    .content-4-section {
        height: 200vh;
    }
    
}
@media only screen and (max-width: 414px) {
    .content-4-section {
        height: 170vh;
    }
    
}

@media only screen and (max-width: 375px) {
    .content-4-section {
        height: 210vh;
    }
}

@media only screen and (max-width: 320px) {
    .content-4-section {
        height: 250vh;
    }
}